/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.drop-box{
    position: relative;
    font-family: Helvetica, sans-serif;
}

/* Debug */

/* Reusable classes */
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.button{
    display: flex;
    width: fit-content;
    padding: 10px;
    border: solid black 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.blue-button{
    background-color: rgb(18, 102, 251);
    color: white;
    border: none;
}

/* Nav */
.nav-bar{
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    font-size: 0.7rem;
}
.nav-bar img{
    height: 100%;
}
.nav-button{
    justify-content: center;
    align-items: center;
    margin: 12px;
}

/* Header */
header{
    padding-top: 7vh;
    padding-right: 15%;
    padding-left: 15%;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, rgb(181, 208, 230) 90%, white 10%);
}

.header-title{
    width: 100%;
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.header-text{
    width: 30%;
}
.header-image{
    width: 70%;
}
.header-image img{
    width: 100%;
}



/* Sections */
section{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: space-between;
}

/* First Section */
section:nth-of-type(1) h2{
    margin-bottom: 30px;
}
.cards-container{
    height: 90%; /*debug*/
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.cards-container i{
    margin-right: 4px;
}

.card{
    margin-top: 40px;
    width: 30%;
    border: solid black 1px;
}
.type-of-plan{
    border-bottom: solid black 1px;
    padding: 5px;
    font-size: 0.7rem;
    justify-content:center;
}

.plan-conditions{
    margin: 15px;
    font-size: 0.9rem;
    line-height: 20px;
}
.plan-conditions > ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}
.plan-conditions > hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.plan-conditions ul:nth-of-type(2) i{
    color: rgb(18, 102, 251);
}

.card:last-of-type{
    height: 20%;
    width: 100%;
}
.card:last-of-type .plan-conditions{
    justify-content: space-between;
}
/* / First Section */



/* Second Section */
.second-section-img{
    height: 100%;
    width: 60%;
}
.second-section-img > img{
    width: 100%;
}

.second-section-text{
    width: 40%;
    margin: 50px;
    justify-content: space-between;
}
/* / Second Section */

/* Third Section */
section:nth-of-type(3) h2{
    margin-bottom: 30px;
}
.small-card{
    width: 30%;
    margin-bottom: 30px;
}
.small-card > img{
    width: 100%;
}
.small-card > p{
    margin-top: 20px;
}
/* / Third Section */

/* Fourth Section */
section:nth-of-type(4){
    margin-bottom: 20vh;
}
section:nth-of-type(4) > h2{
    width: 60%;
    margin-bottom: 50px;
}


/* / Fourth Section */


/* Fifth Section */
section:nth-of-type(5){
    padding: 0;
    margin-top: 0;
}
.side-grid, .center-grid{
    width: calc(100vw/3); 
    height: calc(100vw/3);  
    flex-wrap: wrap;
}
.grid-card{
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    transition: border .1s linear;
}
.grid-card > img{
    width: 60%;
    filter: invert(1);
}
.grid-card:hover{
    border: solid 10px rgba(255, 255, 255, 0.75);
}

.center-grid{
    padding: 40px;
    background-color: #f5f5f5;
    justify-content: space-around;
}

.center-grid > img{
    width: 60%;
}


#company_1{
    background-color: #a3d39b;
}
#company_2{
    background-color: #61082c;
}
#company_3{
    background-color: #0093ce;
}
#company_4{
    background-color: #ff1d1d;
}
#company_5{
    background-color: #d5001f;
}
#company_6{
    background-color: #b4d1e7;
}
#company_7{
    background-color: #0c2481;
}
#company_8{
    background-color: #ffd831;
}

.bottom-grid{
    padding: 6% 20% 6% 20%;
    justify-content: space-between;
    align-items: center;
    background-color: #b4d1e7;
}
.bottom-grid h2{
    width: 60%;
    color: #641c37;
}

.bottom-grid .button{
    background-color: white;
    border: none;
}


/* / Fifth Section */

/* Sixth Section */
section:nth-of-type(6) h2{
    margin-bottom: 40px;
}


.question{
    height: 60px;
    overflow-y: hidden;
    border-bottom: solid black 1px;
}


.question h3{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;

}
.question:hover{
    height: auto;
}






/* Sixth Section */

/* Footer */
footer{
    height: 50vh;
    margin-top: 10vh;
    padding-right: 15%;
    padding-left: 15%;
    flex-wrap: wrap;
}

.footer-columns-container{
    height: 70%;
    width: 100%;
}
.footer-language-selector{
    height: 30%;
    width: 100%;
}
.footer-column{
    height: 100%;
    width: 20%;
}
/* / Footer */



