/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.drop-box{
    position: relative;
}

/* Debug */

/* Reusable classes */
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.blue-button{
    background-color: blue;
    color: white;
    padding: 10px;
}

/* Nav */
.nav-bar{
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}
.nav-button{
    height: 100%;
    width: 100px;
    justify-content: center;
    align-items: center;
}

/* Header */
header{
    height:80vh;
    padding-top: 7vh;
    padding-right: 15%;
    padding-left: 15%;
    background-color: rgb(181, 208, 230);
    flex-wrap: wrap;
}

.header-title{
    height: 40%;
    width: 100%;
}
.header-text{
    height: 60%;
    width: 50%;
}
.header-image{
    height:70%;
    width: 50%;
}


/* Main + Section */
section{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    line-height: 60px;
    justify-content: space-between;
}

/* First Section */
section:nth-of-type(1){
    height: 130vh; /* Debug */
}

.cards-container{
    height: 90%; /* Debug */
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.card{
    height: 70%;
    width: 30%;
}
.card:last-of-type{
    height: 20%;
    width: 100%;
}
/* / First Section */

/* Second Section */
section:nth-of-type(2){
    height: 50vh; /* Debug */
}
.second-section-img{
    height: 100%;
    width: 50%;
}
.second-section-text{
    height: 100%;
    width: 50%;
}
/* / Second Section */

/* Third Section */
section:nth-of-type(3){
    height: 100vh;  /* Debug */
}

.small-card{
    height: 45%;
    width: 30%;
}
/* / Third Section */

/* Fifth Section */
section:nth-of-type(5){
    flex-direction: row;
    height: 100vh;
    padding: 0;
    margin-top: 0;
}
.side-grid, .center-grid{
    width: calc(100%/3); 
    height: 65%;  
    flex-wrap: wrap;
}
.grid-card{
    height: 50%;
    width: 50%;
}
/* / Fifth Section */

/* Sixth Section */
section:nth-of-type(6){
    height: 70vh;
}
.question{
    height: 25%;
}
/* Sixth Section */

/* Footer */
footer{
    height: 50vh;
    margin-top: 10vh;
    padding-right: 15%;
    padding-left: 15%;
    flex-wrap: wrap;
}

.footer-columns-container{
    height: 70%;
    width: 100%;
}
.footer-language-selector{
    height: 30%;
    width: 100%;
}
.footer-column{
    height: 100%;
    width: 20%;
}
/* / Footer */




