/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.drop-box{
    position: relative;
}

/* Debug */

/* Reusable classes */
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.blue-button{
    background-color: blue;
    color: white;
    padding: 10px;
}

/* Nav */
.nav-bar{
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}
.nav-button{
    height: 100%;
    width: 100px;
    justify-content: center;
    align-items: center;
}


